<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Backup Storage">
        <setting id="zip" type="folder"    label="Choose Backup Storage Location"      default=""/>
        <setting id="dummy" label="[COLOR=yellow]Click here to check download path[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/plugin.program.btwizard/checkPath.py)" option="close"/>
		<setting id="mastercopy" type="bool" label="Create full duplicate backup AS WELL as a universal build" default="false"/>
        <setting type="lsep" label="[CR][CR]"/>
		<setting type="lsep" label="[COLOR=red]Universal Build:[/COLOR] Will work on any device."/>
		<setting type="lsep" label="[CR][COLOR=blue]Full duplicate backup:[/COLOR] Will only work on your existing device."/>
		<setting type="lsep" label="[CR][CR]"/>
	</category>
    
	<category label="Show/Hide Menus">
		<setting id="mainmenu" type="bool" label="Brokentechie Builds" default="true"/>	
		<setting id="thirdpartybuilds" type="bool" label="Third-Party Builds" default="true"/>
		<setting id="maintenance" type="bool" label="Maintenance" default="true"/>
	</category>
	
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
    </category>
</settings>